:root {
  /* Main Colors */
  --main: #2789F4;
  --sub-1: #0067AC;
  --sub-2: #D1EAFF;
  --sub-3: #E5F4FF;

  /* Gray Scale */
  --gray-900: #2E393D;
  --gray-700: #676E74;
  --gray-500: #858589;
  --gray-400: #A8A9AE;
  --gray-100: #F0F4F5;
  --white: #FFFFFF;
}