/* Pretendard Thin (200) */
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard-Thin.woff2") format("woff2");
}

/* Pretendard Light (300) */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
}

/* Pretendard Regular (400) */
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
}

/* Pretendard Medium (500) */
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
}

/* Pretendard SemiBold (600) */
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

/* Pretendard Bold (700) */
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
}

/* Pretendard ExtraBold (800) */
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard-ExtraBold.woff2") format("woff2");
}
