@import "tailwindcss";
@import "./styles/colors.css";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tailwind custom theme tokens */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard), sans-serif;
}

/* Global */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Hide scrollbar (for Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (for Firefox) */
.no-scrollbar {
  scrollbar-width: none;
}

/* Remove number input spinners (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinners (Firefox) */
input[type="number"] {
  appearance: textfield;
}